PROJECT_NAME="VisionKirana"
SECRET_KEY="super-secret-key-change-in-prod"
ACCESS_TOKEN_EXPIRE_MINUTES=43200
FRONTEND_URL="https://visionkirana-frontend.vercel.app"
ML_API_BASE_URL="https://visionkirana-ml-service.onrender.com/api/v1"
SQLALCHEMY_DATABASE_URI="postgresql://user:pass@ep-restless-bird-1234.us-east-2.aws.neon.tech/visionkirana?sslmode=require"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
GOOGLE_CLIENT_ID="your_google_client_id_here"
ADMIN_EMAIL="admin@visionkirana.com"
